{
  "parser": "@typescript-eslint/parser",
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:prettier/recommended",
    "prettier/@typescript-eslint"
  ],
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module"
  },
  "plugins": ["@typescript-eslint", "unicorn", "header"],
  "rules": {
    "@typescript-eslint/explicit-function-return-type": "off",
    "@typescript-eslint/no-use-before-define": "off",
    "@typescript-eslint/interface-name-prefix": "off",
    "unicorn/filename-case": "error",
    "curly": "error",
    "eqeqeq": "error",
    "no-return-await": "error",
    "require-await": "error",
    "header/header": [
      "error",
      "line",
      [" Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.", " SPDX-License-Identifier: Apache-2.0"]
    ]
  },
  "env": {
    "es6": true,
    "node": true
  },
  "overrides": [
    {
      "files": ["*.ts"],
      "rules": {
        "no-dupe-class-members": "off"
      }
    },
    {
      "files": ["*.js"],
      "rules": {
        "@typescript-eslint/no-var-requires": "off"
      }
    },
    {
      "files": ["packages/converter/test/inputs/**/*.ts"],
      "rules": {
        "@typescript-eslint/explicit-function-return-type": "error"
      }
    },
    {
      "files": ["packages/*/test/**/*.test.ts"],
      "env": {
        "jest": true
      }
    }
  ]
}
